/* styles/500.module.css */

.body {
    background: #081421;
    color: #d3d7de;
    font-family: "Courier New", monospace;
    font-size: 18px;
    line-height: 1.5em;
    cursor: default;
}

.codeArea {
    position: absolute;
    width: 320px;
    min-width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.codeArea > span {
    display: block;
}

.comment {
    color: #777;
    font-style: italic;
}

.keyword {
    color: #d65562;
}

.operator {
    color: #4ca8ef;
}

.variable {
    font-style: italic;
    color: #bdbdbd;
}

.indent {
    padding-left: 15px;
    color: #2796ec;
}

.string {
    color: #a6a61f;
}

/* Scoped anchor styles */
.link {
    color: #78cbf2; /* Link color */
    text-decoration: underline wavy; /* Add an underline */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

@media screen and (max-width: 320px) {
    .codeArea {
        font-size: 5vw;
        min-width: auto;
        width: 95%;
        margin: auto;
        padding: 5px;
        padding-left: 10px;
        line-height: 6.5vw;
    }
}
