@import "tailwindcss";

/* @plugin "@tailwindcss/typography";ç */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@font-face {
  font-family: "Cute Notes";
  src:
    url("/fonts/CuteNotes.woff2") format("woff2"),
    url("/fonts/CuteNotes.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  /* font-family: "Cute Notes", sans-serif; */
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-underline {
    transform: scaleX(0);
    transform-origin: left;
    animation: scaleX 0.3s ease forwards;
  }
}

@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.lnk {
  color: #56ba8e;
  text-decoration: underline wavy;
  transition: color 0.3s ease;
}

.lnk:hover {
  color: light-dark(#003e73, #aad5fb);
}
