.container {
    position: relative;
    min-height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    max-width: 100%; /* Prevent overflow */
    overflow-x: hidden; /* Prevent horizontal scroll */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: space-between; /* Space header and footer */
    align-items: center; /* Center content horizontally */
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.2); /* Slight white background */
    backdrop-filter: blur(10px);
}

.contentBox {
    flex-grow: 1; /* Allow content to grow and fill available space */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    margin-left: 4vw;
    margin-right: 4vw;
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
}

.top {
    width: 100vw; /* Full width */
    text-align: center; /* Center the header text */
    padding-top: 2vh;
    margin-bottom: 3.5vh;
}

.footer {
    width: 100%; /* Full width footer */
    text-align: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    margin: 0; /* Remove default margin */
    font-size: 3.5em;
    font-family: "Cute Notes", sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 1vw; /* Space between menu items */
    font-size: 0.8em;
    font-style: italic;
}

.menu p {
    position: relative;
    cursor: pointer;
    padding-bottom: 1vh; /* Add space for the underline */
    transition:
        color 0.3s ease,
        text-decoration 0.3s ease;
}

.menu p:hover {
    color: #4299e1; /* Change text color when hovered (adjust to desired color) */
}

.menu p.selected {
    text-decoration: underline wavy;
    text-decoration-color: #4299e1; /* Wavy underline for selected items */
}

.profilePhoto {
    border-radius: 50%;
}

.overlay {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.title {
    font-size: 3.5em;
    font-family: "Cute Notes", sans-serif;
}

.hidden {
    display: none;
}

.menuContainer {
    display: flex;
    justify-content: center; /* Center both menus horizontally */
    align-items: center; /* Align menus vertically */
    gap: 1.5vw; /* Space between the main menu and menu2 */
}

.menu2 {
    display: flex;
    gap: 0.5rem;
    margin-top: -1vh;
    align-items: center; /* Add this line */
}

.footerLink {
    color: #4299e1; /* Link color */
    text-decoration: underline wavy; /* Add an underline */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.lnk {
    color: #4299e1; /* Link color */
    text-decoration: underline wavy; /* Add an underline */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.lnk:hover {
    color: #003e73; /* Change color on hover */
}

.footerLink:hover {
    color: #003e73; /* Change color on hover */
}
