.container {
    position: relative;
    height: 100vh;
    width: 100vw; /* Set width to 100% of the viewport */
    max-width: 100%; /* Ensure it doesn't go beyond the viewport width */
    overflow-x: hidden; /* Prevent horizontal scroll */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove default margin */
}

.contentBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    margin-left: 4vw;
    margin-right: 4vw;
    /* background: rgba(
        255,
        255,
        255,
        0.2
    ); /* Slight white background for text area */
    /* backdrop-filter: blur(10px); /* Blur the background behind the text */
    border-radius: 10px; /* Rounded corners for the box */
    padding: 20px; /* Add padding for better readability */
}

.top {
    position: absolute; /* Position it at the top of the container */
    top: 0;
    width: 100vw; /* Ensure it spans the full width */
    text-align: center; /* Center text horizontally */
    padding-top: 20px;
    margin-bottom: 10px;
}

.title {
    margin: 0; /* Remove default margin if needed */
}

.menu {
    display: flex; /* Arrange items horizontally */
    justify-content: center; /* Center menu items horizontally */
    gap: 1.5vw; /* Space between menu items, adjust as needed */
    margin-top: -1vh; /* Space between title and menu */
    font-size: 0.8em;
    font-style: italic;
}

.menu p {
    position: relative;
    cursor: pointer;
    padding-bottom: 1vh; /* Add space for the underline */
    transition:
        color 0.3s ease,
        text-decoration 0.3s ease;
}

.menu p:hover {
    color: #78cbf2; /* Change text color when hovered (adjust to desired color) */
}

.menu p.selected {
    text-decoration: underline wavy;
    text-decoration-color: #78cbf2; /* Wavy underline for selected items */
}

.profilePhoto {
    border-radius: 50%;
}

.overlay {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.title {
    font-size: 3.5em;
    font-family: "Cute Notes", sans-serif;
}

.hidden {
    display: none;
}

.menuContainer {
    display: flex;
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Centers items horizontally */
}

.menu2 {
    display: flex;
    gap: 0.5rem;
    margin-left: 3.5vh;
    margin-top: -2vh;
}
