.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.photo {
    position: relative;
    width: calc(33.33% - 20px); /* Adjust width and gap as needed */
}
